@using System.Globalization
@model Vethentia.ViewModels.MVC.Account.MerchantRegisterViewModel
@{
    ViewBag.Title = "Merchant Register";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        @using (Html.BeginForm("MerchantRegister", "Account", FormMethod.Post, new { @class = "reg-page" }))
        {
            @Html.AntiForgeryToken()

            <div class="reg-header">
                <h2>Merchant Register</h2>
                <p>
                    Already Signed Up? Click <a href="/Account/Login" class="color-green">Sign In</a> to login your account.
                </p>
            </div>

            @Html.LabelFor(m => m.Alias)
            @Html.TextBoxFor(m => m.Alias, new { @class = "form-control margin-bottom-20" })


            @Html.LabelFor(m => m.MerchantName)
            @Html.TextBoxFor(m => m.MerchantName, new { @class = "form-control margin-bottom-20" })

            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control margin-bottom-20" })


            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control margin-bottom-20" })


            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control margin-bottom-20" })

            @Html.LabelFor(m => m.PhoneNumber);
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control margin-bottom-20" })


            @Html.LabelFor(m => m.StreetAddress)
            @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control margin-bottom-20" })

            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control margin-bottom-20" })


            @Html.LabelFor(m => m.State)
            @Html.TextBoxFor(m => m.State, new { @class = "form-control margin-bottom-20" })

            @Html.LabelFor(m => m.PostCode)
            @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control margin-bottom-20" })

            <br />
            <div class="row">
                <div class="col-lg-6">
                    <label>
                        <input type="checkbox" name="TermsAndConditions" value="true">    I read <a href="/Account/TermsOfService" target="_blank" class="color-green">Terms and Conditions</a>
                    </label>
                </div>
                <div class="col-lg-6 text-right">
                    <button class="btn-u" type="submit">Submit</button>
                </div>
            </div>
        }
    </div>
</div>

@section Css {
    <link rel="stylesheet" href="/assets/css/pages/page_log_reg_v1.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
